<app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">&nbsp;&nbsp; Exam Portal </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        @if (role=="Admin") {
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/category']">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/teachers']">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/students']">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/report']">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['']" (click)="logout()">Logout</a>
        </li>
      </ul>
    }

    @if(role=="Teacher"){
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/questions']">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/exams']">Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['']" (click)="logout()">Logout</a>
        </li>
      </ul>
    }

    @if(role=="Student"){
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/myexams']">Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['']" (click)="logout()">Logout</a>
        </li>
      </ul>
    }
    </div>
  </nav>
  