<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-8 p-2">
            <h4>List of exams</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Subject</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of exams; track $index) {
                        <tr>
                            <td>{{item.user.uname}}</td>
                            <td>{{item.category.name}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 p-2">
            <h4>Schedule Exam</h4>
            <form [formGroup]="fg" (submit)="saveExam(this.fg.value)">
                <div class="mb-2">
                    <select class="form-control" formControlName="catid" required name="catid">
                        <option value="">Select Subject</option>
                        @for (item of cats; track $index) {
                            <option value="{{item.id}}">{{item.name}}</option>
                        }
                    </select>
                </div>
                <div class="mb-2">
                    <select class="form-control" formControlName="userid" required name="userid">
                        <option value="">Select Student</option>
                        @for (item of list; track $index) {
                            <option value="{{item.userid}}">{{item.id}} - {{item.uname}}</option>
                        }
                    </select>
                </div>
                <button class="btn btn-primary float-end">Schedule Exam</button>
            </form>
        </div>
    </div>
</div>