<app-navbar></app-navbar>
<div class="container">
    <a [routerLink]="['/add-student']" class="btn btn-primary btn-sm float-end my-2">Add Student</a> 
    <h4>List of Students</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @for (item of list; track $index) {
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.uname}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.phone}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
