<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a class="card text-end bg-primary text-white my-3 p-3 text-decoration-none" [routerLink]="['/category']">
                <div class="card-body">
                    <h5>Categories</h5>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="card text-end bg-danger text-white my-3 p-3 text-decoration-none" [routerLink]="['/teachers']">
                <div class="card-body">
                    <h5>Teachers</h5>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="card text-end bg-success text-white my-3 p-3 text-decoration-none" [routerLink]="['/students']">
                <div class="card-body">
                    <h5>Students</h5>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="card text-end bg-dark text-white my-3 p-3 text-decoration-none" [routerLink]="['/report']">
                <div class="card-body">
                    <h5>Exam Report</h5>
                </div>
            </a>
        </div>
    </div>
</div>
